body{
    margin: 0px;
    /* background: rgb(29, 184, 132);
    margin-right: 30px;
    margin-left: 100px; */
}

.margin{ /*padding-top trás um espaço entre o texto da navbar e um espaco do texto p espaco*/
    padding-top: 50px;
    padding-bottom: 50px;
}
.navbar {
    background-color: #13BCDA;  
}

h2 ,p{
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    display:flex;
    justify-content: center;
}
/* .espaco{
    margin: 60px 0;
} */
/* .subtitulo{
    font-size: 10px;
    color:blue;
} */
.header {
    margin-top: 0px;
    background-color:#EAF2F8;
    /* display:flex;
    align-items: center;
    justify-content: center; */
    text-decoration:none;
    color:black;
    
    font-family: 'Poppins', sans-serif;
   
}
.padrao, .servicos{
    margin-bottom: 0px;
    width: 300px;   
    margin: 60px 0px;
} 

.logo{
    width:30px;
}

footer{
    margin-bottom: 30px;
}
footer{
    align-items: center;
    text-align: center;
    background-color: #EAF2F8;
    padding: 10px;
}

footer img {
    width: 50px;
    padding: 10px;
}

footer p{
    margin-bottom: 0px;
}

/* .servicos,.clientes,.parceiros,.time,.contato{
    background-color:#F4ECF7 ;
} */